<div ng-controller="moviesController">
    <tabset>
        <tab heading="Books">
            <button class="btn btn-default" ng-click="open()">Add item</button>
            <br />

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th ng-click="changeFilter('title')">Title</th>
                        <th ng-click="changeFilter('author')">Author</th>
                        <th></th>
                    </tr>
                </thead>
                <tr ng-repeat="item in (testCollection | orderBy:realFilter()) track by $index">
                    <td>
                        {{item.title}}
                    </td>
                    <td>
                        {{item.author}}
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger" ng-click="deleteBook(item)">Delete</button>
                        <button class="btn btn-default" ng-click="open(item)">Edit</button>
                    </td>
                </tr>
            </table>

            <div id="chart_div"></div>
        </tab>
        <tab heading="Other">Other</tab>
    </tabset>
   

</div>