<div ng-controller="booksController">

    <div ng-include="'pages/topMenu.html'"></div>

    <div class="row">
        <div class="col-md-12">
            <tabset>
                <tab heading="Books">
                    <br />
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-default" ng-click="open()">Add item</button>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                                                <input type="text" class="form-control" placeholder="Search by title" ng-model="searchBook">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <table class="table table-bordered tableCrud">
                                <thead>
                                    <tr>
                                        <th ng-click="changeFilter('title')" class="{{filter.property=='title'?'danger':'warning'}}">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    Title
                                                </div>
                                                <span class="col-md-2 glyphicon {{filter.direction=='+'?'glyphicon-chevron-up':'glyphicon-chevron-down'}}" ng-show="filter.property=='title'"></span>
                                            </div>
                                        </th>
                                        <th ng-click="changeFilter('author')" class="{{filter.property=='author'?'danger':'warning'}}">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    Author
                                                </div>
                                                <span class="col-md-2 glyphicon {{filter.direction=='+'?'glyphicon-chevron-up':'glyphicon-chevron-down'}}" ng-show="filter.property=='author'"></span>
                                            </div>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="item in (testCollection | filter:{title:searchBook} | orderBy:realFilter() | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage) track by $index">
                                    <tr>
                                        <td class="titleColumn">
                                            {{item.title}}
                                        </td>
                                        <td class="authorColumn">
                                            {{item.author}}
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-danger" ng-click="deleteBook(item)">Delete</button>
                                            <button class="btn btn-default" ng-click="open(item)">Edit</button>
                                        </td>
                                    </tr>

                                    <tr ng-show="false">
                                        <td colspan="3">vaya</td>
                                    </tr>
                                </tbody>

                            </table>

                            <pagination total-items="testCollection.length" items-per-page="itemsPerPage" ng-model="currentPage"></pagination>
                        </div>
                        <div class="col-md-5">
                            <div id="chart_div"></div>
                        </div>
                    </div>



                    
                    
                </tab>
                <tab heading="Images">

                    <div class="row">
                        <div class="col-md-3" ng-repeat="item in imageList">
                            {{item.fileName}}
                            <img ng-src="{{item.bytes}}" />
                        </div>
                    </div>
                    <!--<div ng-include="'pages/test.html'"></div>-->
                </tab>
            </tabset>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div>Select an image file: <input type="file" id="fileInput" custom-on-change="handleFileSelect" /></div>
            <div class="cropArea">
                <img-crop image="myImage" result-image="myCroppedImage" result-filename="imageFileName"></img-crop>
            </div>
        </div>
        <div class="col-md-4">
            <div>Cropped Image:</div>
            <div><img ng-src="{{myCroppedImage}}" /></div>
        </div>
        <div class="col-md-2">
            <div class="btn btn-success" ng-click="uploadImage()">UPLOAD</div>
        </div>
    </div>

    <div growl></div>
</div>