<div class="modal-header">
    <h3 class="modal-title">Add/Edit item</h3>
</div>
<div class="modal-body">
    <form name="theFormTest" novalidate role="form" class="form-horizontal">
        <div class="form-group">
            <label for="title" class="control-label col-md-3">Title:</label>
            <input ng-model="currentItem.title" required class="form-control col-md-5" />
        </div>
        <div class="form-group">
            <label for="author" class="control-label col-md-3">Author:</label>
            <input ng-model="currentItem.author" required class="form-control col-md-5" />
        </div>

        <dropdown-directive items-list="categories" property-to-bind="currentItem.categoryId">Current item is {{currentItem.author}}</dropdown-directive>
</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(currentItem)" ng-disabled="theFormTest.$invalid">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>