body {
    .theTestClass {
        color: yellow;

        .theTestClassNested {
            color: yellow;
        }
    }

    .tableCrud {
        .titleColumn {
            width:40%
        }
        .authorColumn {
            width:35%
        }
    }
}

@import '_partialTest';